html, body{
	height: 100%;
	margin:0;
	padding: 0; 
	font-weight: bold;
}

#cont{

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
#reloj {

	font-size: 6em;
	font-family: 'Amatic SC';
	text-align: center;
	border-radius:500px;
	box-shadow: 0 0 20px #800080;
	background-color: #e6e6fa; 
	color:#800080;
	max-width: 500px;
	flex-shrink: 0;
	padding: 30px 100px;
	
}




/*responsive: tamaño tablet*/
@media all and (min-width: 481px) and (max-width: 980px) {

	#reloj{
		
		font-size: 4em;
	
	}


}


/*responsive: tamaño móvil*/
@media all and (max-width: 480px) {


	#reloj{

		font-size: 3em;

	}
}



